<section class="py-20">
    <div class="contenedor flex flex-col items-center">
        <h2 class="text-oscuro text-3xl font-bold w-full text-center">¡Trabaja con nosotros!</h2>
        <form action="" class="flex flex-col gap-4 w-full md:h-[500px] max-w-4xl py-12">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="w-full rounded-lg px-4 py-2 border-[0.5px] text-oscuro focus:outline-none flex flex-col gap-2 justify-center items-center border-[#5f5f5f]">
            <input type="email" name="email" id="email" placeholder="E-mail" class="w-full rounded-lg px-4 py-2 border-[0.5px] text-oscuro focus:outline-none flex flex-col gap-2 justify-center items-center border-[#5f5f5f]">
            <input type="text" name="asunto" id="asunto" placeholder="Asunto" class="w-full rounded-lg px-4 py-2 border-[0.5px] text-oscuro focus:outline-none flex flex-col gap-2 justify-center items-center border-[#5f5f5f]">
            <textarea name="mensaje" id="mensaje" placeholder="Mensaje" class="w-full rounded-lg px-4 py-2 border-[0.5px] text-oscuro focus:outline-none border-[#5f5f5f] min-h-32 md:h-full"></textarea>
            <div class="flex items-center gap-2">
              <input type="file" id="file" name="file" accept=".doc,.docx,.pdf" class="hidden">
              <label for="file" class="rounded-lg px-4 py-2 border-[0.5px] text-oscuro flex flex-col gap-2 justify-center items-center border-[#5f5f5f] hover:bg-[#eeeeee] cursor-pointer transition-all duration-300 ease-in-out">
                Seleccionar archivo
              </label>
              <span id="file-name" class="text-sm text-[#5f5f5f]">Ningún archivo seleccionado</span>
            </div>
            <a class="w-full text-center font-medium rounded-md bg-acento text-oscuro px-7 py-3 text-lg cursor-pointer z-10 hover:bg-[#eca63b] transition-all duration-300 ease-in-out">Enviar mensaje</a>
          </form>
          
          
          
    </div>
</section>


<script>
    const fileInput = document.getElementById('file') as HTMLInputElement;;
    const fileName = document.getElementById('file-name');
  
    fileInput.addEventListener('change', function () {
      if (fileInput.files.length > 0) {
        fileName.textContent = fileInput.files[0].name;
      } else {
        fileName.textContent = 'Ningún archivo seleccionado';
      }
    });
  </script>