<section class="py-48">
    <div class="contenedor flex flex-col gap-12 justify-center items-center">
        <h2 data-i18n="customers.title" class="text-3xl font-bold text-oscuro [animation-iteration-count:infinite] delay-[200ms] duration-[500ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="0">Principales <span class="text-acento">clientes</span></h2>
        <div class="flex flex-wrap items-center gap-3 w-full max-w-[1200px] justify-center [animation-iteration-count:infinite] delay-[200ms] duration-[500ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="0">
            <img src="/customers/vw.png" alt="VW" class="w-full h-auto" />
            <img src="/customers/smotherson.png" alt="Venta Lum" class="w-full h-auto" />
            <img src="/customers/plasticomnium.png" alt="Barack Mercosul" class="w-full h-auto" />
            <img src="/customers/sinterar.png" alt="VW" class="w-full h-auto" />
            <img src="/customers/barackmercosul.png" alt="Venta Lum" class="w-full h-auto" />
            <img src="/customers/grupoantolin.png" alt="Barack Mercosul" class="w-full h-auto" />
            <img src="/customers/flexngate.png" alt="Barack Mercosul" class="w-full h-auto" />
            <img src="/customers/sas.png" alt="Barack Mercosul" class="w-full h-auto" />
            <img src="/customers/maro.png" alt="Barack Mercosul" class="w-full h-auto" />
            <img src="/customers/magna.png" alt="Barack Mercosul" class="w-full h-auto" />
            <img src="/customers/f2j.png" alt="Barack Mercosul" class="w-full h-auto" />
            <img src="/customers/trefelt.png" alt="Barack Mercosul" class="w-full h-auto" />
            <img src="/customers/ventalum.png" alt="Ventalum" class="w-full h-auto" />

        </div>
    </div>
</section>

<style>
    img{
        width: 150px;
        height: auto;
    }

    @media (width < 1024px) and (width >= 768px) {
        img{
            width: 120px;
            height: auto;
        }
    }

    @media (width < 768px) {
        img{
            width: 100px;
            height: auto;
        }
    }
        
</style>