<section class="pt-36 flex flex-col justify-center items-center w-full gap-8">
    <h2 class="text-3xl font-bold text-oscuro [animation-iteration-count:infinite] delay-[200ms] duration-[500ms] taos:translate-y-[-200px] taos:opacity-0" data-taos-offset="0">
        Nuestras <span class="text-acento">divisiones</span>
      </h2>
      <div class="flex flex-col md:flex-row w-full">
        <a href="" class="group h-80 sm:h-96 md:h-[600px] w-full bg-[#3E3E3E] relative overflow-hidden [animation-iteration-count:infinite] delay-[100ms] duration-[400ms]  md:delay-[300ms] md:duration-[400ms] taos:translate-x-[-200px] md:taos:translate-y-[200px] taos:opacity-0" data-taos-offset="0">
            <img src="/dispositivos-image.png" alt="División Dispositivos" class="object-cover w-full h-full opacity-50 hover:opacity-90 hover:scale-110 transition-all duration-300 ease-in-out">
            <h3 class="font-bold text-4xl absolute bottom-4 left-4 pointer-events-none p-3 transition-all duration-300 ease-in-out w-20">División Dispositivos</h3>
        </a>
        <a href="" class="group h-80 sm:h-96 md:h-[600px] w-full bg-[#3E3E3E] relative overflow-hidden [animation-iteration-count:infinite] delay-[100ms] duration-[400ms]  md:delay-[325ms] md:duration-[425ms] taos:translate-x-[-200px] md:taos:translate-y-[200px] taos:opacity-0" data-taos-offset="0">
            <img src="/inyeccion-image.png" alt="División Inyección" class="object-cover w-full h-full opacity-50 hover:opacity-90 hover:scale-110 transition-all duration-300 ease-in-out">
            <h3 class="font-bold text-4xl absolute bottom-4 left-4 pointer-events-none p-3 transition-all duration-300 ease-in-out w-20">División Inyección</h3>
        </a>
        <a href="" class="group h-80 sm:h-96 md:h-[600px] w-full bg-[#3E3E3E] relative overflow-hidden [animation-iteration-count:infinite] delay-[100ms] duration-[400ms]  md:delay-[450ms] md:duration-[450ms] taos:translate-x-[-200px] md:taos:translate-y-[200px] taos:opacity-0" data-taos-offset="0">
            <img src="/matriceria-image.png" alt="División Matricería" class="object-cover w-full h-full opacity-50 hover:opacity-90 hover:scale-110 transition-all duration-300 ease-in-out">
            <h3 class="font-bold text-4xl absolute bottom-4 left-4 pointer-events-none p-3 transition-all duration-300 ease-in-out w-20">División Matricería</h3>
        </a>
      </div>
</section>